/* sm */
@media (min-width: 576px) {
    .navBrand img{
        width: 7%;
    }

    main{
        padding-top: 60px;
    }

    .myInfo{
        width: 100%;
    }
    .myInfo img{
        width: 30%;
    }
    .myInfoContentParent{
        width: 100%;
    }
    .cv{
        width: 50%;
        margin-left: 0;
    }
}

/* md */
@media (min-width: 768px) {
    .navBrand img{
        width: 8%;
    }
    .infoDiv{
        padding-top: 200px;
    }
    .myInfo{
        width:40%;
    }
    .myInfo img{
        width: 80%;
    }
    .myInfoContentParent{
        width: 60%;
    }
    .myInfoContent h1{
        font-size: 1.8rem;
    }
    .cv{
        width: 70%;
        font-size: 1.2rem;
    }
    .workCard i{
        font-size: 2.5rem;
    }
    .workCard h5{
        margin-left: 0;
        font-size: 1.5rem;
    }
    .workCard p{
        margin-left: 0;
        font-size: .9rem;
    }
    .projectCard{
        width: 60% !important;
        margin: 0 auto 50px;
        gap: 12px;
    }
    .projectCard h5{
        font-size: 1.5rem;
    }
    .projectCard p{
        font-size: 1.2rem;
    }
    .projectCard a{
        font-size: 1rem;
    }
    .techs{
        gap: 4px;
    }
    .techs span{
        font-size: .8rem;
    }
    #githubLink{
        font-size: 1.3rem;
        margin-top: 50px;
    }

    .newsCards{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .newsCard{
        padding: 20px;
        gap: 10px;
    }
    .newsCard h5{
        font-size: 1.8rem;
    }
    .newsCard p{
        font-size: 1rem;
    }
    .newsCard a{
        font-size: 1rem;
    }
    .contactFormParent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contactSocialIcons{
        gap: 10px;
    }
    .contactSocialIcons h6{
        margin: 0 auto;
    }
    .contactSocialIcons .socialIcons{
        display: flex;
        gap: 10px;
        width: 70%;
    }
    .contactSocialIcons .socialIcons .socialIcon i{
        font-size: 3rem;
        padding: 20px;
    }
    .contactSocialIcons .socialIcons :nth-child(3) i{
        font-size: 2.4rem;
    }
    footer img{
        width: 15%;
    }
}

/* lg */
@media (min-width: 992px) {
    nav{
        flex-direction: row;
    }
    .navBrand{
        width: 40%;
        
    }
    .navBrand img{
        width: 15%;
        margin-left: 15%;
    }
    .navBrand i{
        display: none;
    }
    .navBrand h1{
        margin-left: 15%;
        margin-top: 9px;
    }
    .navLinks{
        display: flex;
        width: 60%;
        flex-direction: row;
        justify-content: flex-end;
        margin: 8px 3% 4px 0;
    }
    .navLinks li{
        margin: 0 4px;
        font-size: 1.2rem;
    }
    .navLinks a{
        margin: 0 10px;
        font-size: 1.2rem;
        
    }
    .infoDiv{
        padding-top: 200px;
    }
    .myInfo img{
        width: 50%;
    }
    .socialIcons{
        width: 60%;
        padding: 10px;
    }
    .cv{
        width: 40%;
        font-size: 1.2rem;
        margin-left: 0px;
        padding: 8px;
    }
    .workDiv{
        padding-top: 120px;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: flex !important;
    }
    .projectDiv{
        padding: 120px 5% 0;
    }
    .projectCardsParent{
        height: 90%;
    }
    .projectCardsParent h2{
        margin-bottom: 20px;
        padding-bottom: 5px;
        margin-left: 5%;
    }
    .projectCards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
    .projectCard{
        width: 90% !important;
        margin: 0 auto 50px;
        padding: 12px;
        gap: 2px;
    }
    .projectCard h5{
        font-size: 1.2rem;
        margin-left: 0;
    }
    .projectCard p{
        font-size: .9rem;
        margin-left: 0;
    }
    .projectCard a{
        font-size: 1rem;
    }
    .techs span{
        font-size: .8rem;
    }
    .newsDiv{
        padding: 120px 5% 0;
    }
    .newsCardsParent h2{
       margin-bottom: 5%;

    }
    .contactSocialIcons .socialIcons{
        width: 60%;
    }
    .contactSocialIcons .socialIcons :nth-child(3) i{
        font-size: 2.3rem;
    }
    footer img{
        width: 10%;
    }
}

/* xl */
@media (min-width: 1200px) {
    .navLinks {
        margin: 8px 5% 4px 0;
    }
    .workCards{
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
    .newsCards{
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }
    .newsCard{
        padding: 30px;
    }
    .newsCard h5{
        font-size: 1.8rem;
    }
    .newsCard p{
        font-size: 1rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
                line-clamp: 5; 
        -webkit-box-orient: vertical;
    }
    .newsCard a{
        font-size: 1rem;
    }
    .contactFormParent{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center
    }
    .contactForm{
        width: 60%;
    }
    .formGroupTextInputs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }
    .formGroupTextInputs .formGroup{
        width: 49%;
        margin-left: 0;
    }
    .contactSocialIcons{
        width: 40%;
    }
    #sendMail{
        width: 40%;
        margin-top: 30px;
    }
    footer{
        padding: 100px 0;
    }
    footer img{
        width: 8%;
    }
    
}

@media (min-width: 1440px) {
    .navBrand img{
        width: 8%;
        margin-left: 15%;
    }
    .navLinks a{
        margin: 0 15px;
        font-size: 1.3rem;
    }
    main{
        padding-top: 240px;
    }
    .myInfo img{
        width: 50%;
    }
    .myInfoContent h5{
        font-weight: 300;
        font-size: 1.6rem;
    }
    .myInfoContent h1{
        font-size: 2.4rem;
    }
    .myInfoContent h3{
        font-size: 2rem;
    }
    .myInfoContent p{
        font-size: 1.1rem;
    }
    .myInfoContent h6{
        font-size: 1.3rem;
    }
    .socialIcons{
        margin: 20px 0;
    }
    .cv{
        width: 40%;
        font-size: 1.3rem;
    }

    .workDiv{
        padding-left: 0;
        padding-right: 0;
    }
    .workCards{
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .workCard{
        padding: 20px;
    }
    .workCardsParent h2{
        font-size: 2.1rem;
        font-weight: 600;
        margin-left: 0;
    }
    .workCard i{
        font-size: 2.1rem;
    }
    .workCard h5{
        font-size: 1.5rem;
        margin-left: 0;
    }
    .workCard p{
        font-size: 1.1rem;
        margin-left: 0;
    }

    .mobile{
        display: none;
    }
    .projectDiv{
        padding: 80px 0 0;
    }
    .projectCardsParent{
        height: 90%;
    }
    .projectCardsParent h2{
        font-size: 2.1rem;
        font-weight: 600;
        margin-bottom: 50px;
        margin-left: 0;
    }
    .projectCards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 18px;
    }
    .projectCard{
        width: 80% !important;
        margin: 0 auto 50px;
        gap: 12px;
    }
    .projectCard h5{
        font-size: 1.2rem;
        margin-left: 0;
    }
    .projectCard p{
        font-size: 1.1rem;
        margin-left: 0;
    }
    .projectCard a{
        font-size: 1rem;
    }
    .techs span{
        font-size: .9rem;
    }
    .newsDiv{
        padding: 80px 0 0;
    }
    .newsCardsParent h2{
        font-size: 2.1rem;
        font-weight: 600;
        margin-bottom: 50px;
        margin-left: 0;
    }
    .newsCard h5{
        font-size: 1.5rem;
    }
    .newsCard p{
        font-size: 1.1rem;
    }
    .newsCard a{
        font-size: 1rem;
    }
    .contactDiv{
        padding: 80px 0 0;
    }
    .contactForm{
        width: 40%;
    }
    .contactSocialIcons{
        width: 40%;
    }
    .contactForm h2{
        font-size: 2.1rem;
        font-weight: 600;
        margin-left: 0;
    }
    #sendMail{
        width: 40%;
        margin-top: 20px;
    }
    .contactSocialIcons h6{
        font-size: 1.5rem;
        margin: 0 auto 20px;
    }
    .contactSocialIcons .socialIcons{
        width: 100%;
        margin: 0 auto;
    }
    .contactSocialIcons .socialIcons .socialIcon a{
        font-size: 1.5rem;
    }
    footer{
        padding: 60px 0;
    }
    footer img{
        width: 6%;
    }
    footer p{
        font-size: 1.2rem;
    }
}

@media (min-width: 1600px) {

}